<div class="container col-lg-7 " >
<form method="POST"  style="background : #fff  ;  margin_top: 15px">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Enter your email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                  <label>Justification </label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>

                  </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer"  style="background : #fff " >
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a  class="btn btn-warning" href="{% url 'studenthome' %}">Go back</a>
                </div>
              </form>
</div>
