
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<section class="content">
      <div class="container-fluid">
          <div class="row " >
                    <div class="col-md-4 ">
                      <!-- Widget: user widget style 2 -->
                      <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-warning">
                          <!-- /.widget-user-image -->
                          <h3 class="widget-user-username">Nadia Carmichael</h3>
                          <h5 class="widget-user-desc">Teacher</h5>
                        </div>
                        <div class="card-body p-2">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="{% url 'teacher_home' %}" class="btn btn-info">Teacher Home</a>

                            <a class="btn btn-danger "  href="{% url 'addgroup'  %}" >
                              <i class="fas fa-folder">

                              </i>delete Homework
                            </a>
                        </div>
                        <div class="card-footer p-0">
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                Groups <span class="float-right badge bg-primary">31</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                Homeworks <span class="float-right badge bg-info">5</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                Modules <span class="float-right badge bg-success">12</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                Students <span class="float-right badge bg-danger">842</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- /.widget-user -->
                    </div>
                     <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Fixed Header Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 360px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th style="width:5%">ID</th>
                      <th style="width:25%">title</th>
                      <th style="width:25%">launch_date</th>
                      <th style="width:25%">deadline</th>
                      <th style="width:25%">module</th>
                      <th style="width:25%">Student</th>
                      <th style="width:25%">Group</th>

                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for relation in relations_G_T_M  %}
                    <tr>
                      <td>{{relation.group.id}}</td>
                      <td>{{relation.group.name}}</td>
                      <td>{{relation.group.mail_Group}}</td>
                      <td><span class="tag tag-primary">{{relation.group.level}}</span></td>
                      <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'GroupDetail' relation.group.id %}">
                              <i class="fas fa-folder">
                              </i>
                              View
                        </a>
                        <a class="btn btn-warning btn-sm" href="{% url 'addgrouphomework' relation.group.id  %}">
                              <i class="fas fa-folder">
                              </i>
                              Add homework
                        </a>

                      </td>
                    </tr>
                   {% endfor  %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          </div>
        <div class="row ">
                      <div class="card col-lg-6">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                      <th>Homework Title</th>
                    <th>Status</th>
                    <th>Module</th>
                    <th>Evaluation</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for evaluation in homeworks_evaluation %}
                  <tr>
                    <td>{{evaluation.title}}</td>
                    <td>{{evaluation.status}}</td>
                    <td>{{evaluation.module.name}}</td>

                    <td> {% if evaluation.evaluation.note > 15 %}
                     <span class="badge badge-success">{{evaluation.evaluation.note}}</span>
                      {% elif evaluation.evaluation.note >= 10 %}
                      <span class="badge badge-warning">{{evaluation.evaluation.note}}</span>
                      {% elif evaluation.evaluation.note < 10 %}
                      <span class="badge badge-danger">{{evaluation.evaluation.note}}</span>
                    {% endif %}
                    </td>
                    <td>
                      <a class="btn btn-primary btn-xs" href="#">
                              <i class="fas fa-folder"></i>
                              View
                      </a>
                    </td>
                  </tr>
                  {% endfor  %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Homework Title</th>
                    <th>Status</th>
                    <th>Module</th>
                    <th>Evaluation</th>
                    <th>Actions</th>>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

        </div>
      </div>
</section>
</section>


{% endblock %}